.approch__section {
    min-height: 80vh;
    padding: 100px 0;
    background-image: linear-gradient(180deg, #f4f4f4 0%, #f1f1f1 100%);
    
}


@media (max-width: 768px) {
    .approch__section {
        padding: 40px 0;
    }
}