.Contact__section {
    background-image: url('./../../assets/bg-444.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
   
  
}

.Contact__section .overlay {
    background-color: rgba(49, 70, 203, 0.6);
    display: flex;
    align-items: center;
    height: 100%;
    transition: "background" 0.3s, border-radius 0.3s, opacity 0.3s;
    /* filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg ); */
    
    
}

.Contact__title title{
    color: #fff;
    font-size: 67px;
    font-weight: 800;
    line-height: 1em;
    letter-spacing: -1.5px;
    z-index: 99;
    position: relative;

}






