.Navbar__main {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff2b;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0%;
  margin-bottom: -7%;
  z-index: 99;
}

.Navbar__wrapper hr {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff2b;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0%;
  z-index: 99;
}
.active__cls {
  color: #3aa9ea;
  fill: #3aa9ea;
}

.Navbar__logo {
  height: 75px;
  width: 70px;
}

.navbar__span {
  color: #fff;
  margin-left: 7px;
  font-size: 25px;
  font-weight: 500;
}
.nav__items {
  color: #ffffff;
  fill: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
}

.nav__items:hover {
  color: #3aa9ea;
}

.navbar__nav {
  margin-right: 100px;
  gap: 30px;
}
.navbar__btn {
  font-size: 12px;
  font-weight: 700;
  height: 45px;
  width: 160px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.close__icon {
  top: 22px;
  position: absolute;
  right: 22px;
  width: 35px;
  height: 35px;
  color: black;
  background: white;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  border-color: #3146cb;
  border-style: solid;
}

@media (max-width: 768px) {
  .Navbar__logo {
    height: 40px;
    width: 40px;
  }
  .navbar__span {
    font-size: 15px;
  }
  .toggleNavbar {
    background-color: #fff;
    width: 50px;
    height: 40px;
    fill: #ffff;
    display: flex;
    align-items: center;
  }

  .nav__list__main {
    position: absolute;
    width: 100%;
    left: 0;
    min-height: 92vh;
    height: 100vh;
    background-color: #253499;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__items{
    color: #fff;
  }
}
.nav__active__link {
  color: #3aa9ea;
}