body, html {
    font-family: 'Manrope', sans-serif !important;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    /* display: none; */
    overflow-x: hidden;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --primary: #6a59ff;
    --white: #ffffff;
    --bg: #f5f5f5;
}

.swiper_container{
   height: 52rem;
   padding: 2rem 0;
   position: relative;
}

.swiper-slide{
    width: 37rem;
    height: 42rem;
    position: relative;
}

.slider-controler{
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider-controler .swiper-button-next{
    left: 58% !important;
    transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow{
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));

}

.slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;

}

.slider-controler .slider-arrow::after{
    content: '';
}

.swiper-pagination{
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet{
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active{
    background: var(--primary);
}


@media screen and (max-width: 1900px) {
  
}


@media screen and (max-width: 1408px) {
   
}

@media screen and (max-width: 1216px) {}

@media screen and (max-width: 1024px) {}

/* For Medium Devices */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

/* For Small Devices */
@media screen and (max-width: 350px) {}

