.Goal__section {
    background-image: url('./../../assets/servicesbag.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
  
}

.Goal__section .overlay {
    display: flex;
    align-items: center;
    background-color: rgba(49, 70, 203, 0.5);
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: "background" 0.3s, border-radius 0.3s, opacity 0.3s;
  
    
}

.Goal__title{
    color: #ffffff;
     font-size: 30px;
     font-weight: 600;
     line-height: 1em;
    
}






